//**Entry Parameters**//
$number_links1: 4
$number_links2: 1
$number_links3: 1

$bg_color: #f2f2f2
$txt_color: #000

$btn_bg_color: #fff
$btn_txt_color: #000
$btn_border_color: #d6184d
$btn_shadow_color: rgba(214, 24, 77, 0.30)


$link_bg_color: #fff
$link_txt_color: #fff
$link_bg_color_hover: #ff696e

@font-face
  font-family: 'caviar_dreamsregular'
  src: url('../fonts/CaviarDreams-webfont.eot')
  src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype')
  src: url('../fonts/CaviarDreams-webfont.woff') format('woff')
  src: url('../fonts/CaviarDreams-webfont.ttf') format('truetype')
  src: url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg')
  font-weight: normal
  font-style: normal


$font-family: 'caviar_dreamsregular'

//**Calculated Parameters**//
$central_angle1: (360deg)/$number_links1
$skew_angle1: (-90deg)+$central_angle1
$rotate_angle1: (-90deg)+($central_angle1)/2
$unskew_angle1: (-1)*($skew_angle1)

$central_angle2: (360deg)/$number_links2
$skew_angle2: (-90deg)+$central_angle2
$rotate_angle2: (-90deg)+($central_angle2)/2
$unskew_angle2: (-1)*($skew_angle2)

$central_angle3: (360deg)/$number_links3
$skew_angle3: (-90deg)+$central_angle3
$rotate_angle3: (-90deg)+($central_angle3)/2
$unskew_angle3: (-1)*($skew_angle3)

//**SASS**//

*
  position: relative
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0
  list-style: none

html,
body
  height: 100%

body
  background-color: $bg_color
  background: url(../images/background.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: $txt_color
  overflow: hidden

.button1
  position: absolute
  top: 50%
  left: 50%
  z-index: 11
  margin-top: -75px
  margin-left: -75px
  padding: 10px
  width: 150px
  height: 150px
  border: none
  border-radius: 50%
  background: none
  background-color: $btn_bg_color
  color: $btn_txt_color
  text-align: center
  font-size: 16px
  cursor: pointer
  -webkit-backface-visibility: hidden
  font-family: $font-family
  outline: none!important
  border: solid 1px $btn_border_color
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: inset 0 -4px 0 $btn_shadow_color, 0 4px 4px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: inset 0 -4px 0 $btn_shadow_color, 0 4px 4px rgba(0, 0, 0, 0.2)
  box-shadow: inset 0 -4px 0 $btn_shadow_color, 0 4px 4px rgba(0, 0, 0, 0.2)

.overlay
  width: 100%
  height: 100%
  background-color: #fff
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  opacity: 0.8
  -webkit-transition: all 1s ease-in-out
  -moz-transition: all 1s ease-in-out
  transition: all 1s ease-in-out
  z-index: 2

.overlay.on-overlay
  opacity: 0

.csstransforms .wrapper1
  position: absolute
  top: 50%
  left: 50%
  z-index: 10
  margin-top: -17.5em
  margin-left: -17.5em
  width: 35em
  height: 35em
  border-radius: 50%
  background: transparent
  -webkit-transform: scale(0.1)
  -ms-transform: scale(0.1)
  -moz-transform: scale(0.1)
  transform: scale(0.1)
  pointer-events: none
  overflow: hidden

.transition
  -webkit-transition: all .5s ease
  -moz-transition: all .5s ease
  transition: all .5s ease

.csstransforms .opened-nav
  border-radius: 50%
  opacity: 1
  -webkit-transition: all .5s ease-in-out
  -moz-transition: all .5s ease-in-out
  transition: all .5s ease-in-out
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  -ms-transform: scale(1)
  transform: scale(1)
  pointer-events: auto

.csstransforms .wrapper1 li
  position: absolute
  top: 50%
  left: 50%
  overflow: hidden
  margin-top: -3.3em
  margin-left: -15em
  width: 15em
  height: 15em
  font-size: 1.5em
  -webkit-transition: all .3s ease
  -moz-transition: all .3s ease
  transition: all .3s ease
  -webkit-transform: rotate($rotate_angle1) skew($skew_angle1)
  -moz-transform: rotate($rotate_angle1) skew($skew_angle1)
  -ms-transform: rotate($rotate_angle1) skew($skew_angle1)
  transform: rotate($rotate_angle1) skew($skew_angle1)
  -webkit-transform-origin: 100% 100%
  -moz-transform-origin: 100% 100%
  transform-origin: 100% 100%
  pointer-events: none

.csstransforms .wrapper1 li a
  position: absolute
  right: -9.25em
  bottom: -9.25em
  display: block
  width: 18.5em
  height: 18.5em
  border-radius: 50%
  background: $link_bg_color
  background: -webkit-radial-gradient(transparent 34%, $link_bg_color 35%, $link_bg_color 62%, transparent 63%)
  background: -moz-radial-gradient(transparent 34%, $link_bg_color 35%, $link_bg_color 62%, transparent 63%)
  background: radial-gradient(transparent 34%, $link_bg_color 35%, $link_bg_color 62%, transparent 63%)
  padding-top: 45px
  color: $link_txt_color
  text-align: center
  text-decoration: none
  font-size: 1.2em
  line-height: 2
  -webkit-transform: skew($skew_angle1) rotate($rotate_angle1) scale(1)
  -moz-transform: skew($skew_angle1) rotate($rotate_angle1) scale(1)
  -ms-transform: skew($skew_angle1) rotate($rotate_angle1) scale(1)
  transform: skew($skew_angle1) rotate($rotate_angle1) scale(1)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  pointer-events: auto

.csstransforms .wrapper1 li:first-child
  -webkit-transform: rotate(0.5*$central_angle1 + 0*$central_angle1) skew($unskew_angle1)
  -ms-transform: rotate(0.5*$central_angle1 +0*$central_angle1) skew($unskew_angle1)
  -moz-transform: rotate(0.5*$central_angle1 +0*$central_angle1) skew($unskew_angle1)
  transform: rotate(0.5*$central_angle1 +0*$central_angle1) skew($unskew_angle1)

@for $i from 2 through $number_links1
  .csstransforms .wrapper1 li:nth-child(#{$i})
    -webkit-transform: rotate(0.5*$central_angle1 + $i*$central_angle1 - $central_angle1) skew($unskew_angle1)
    -ms-transform: rotate(0.5*$central_angle1 + $i*$central_angle1 - $central_angle1) skew($unskew_angle1)
    -moz-transform: rotate(0.5*$central_angle1 + $i*$central_angle1 - $central_angle1) skew($unskew_angle1)
    transform: rotate(0.5*$central_angle1 + $i*$central_angle1 - $central_angle1) skew($unskew_angle1)

.csstransforms .wrapper1 li a span
  position: relative
  top: 1.8em
  display: block
  font-size: .5em
  font-weight: 700
  font-family: $font-family

.csstransforms .wrapper1 li a:hover,
.csstransforms .wrapper1 li a:active,
.csstransforms .wrapper1 li a:focus
  background: -webkit-radial-gradient(transparent 44.5%, $link_bg_color_hover 45%)
  background: -moz-radial-gradient(transparent 44.5%, $link_bg_color_hover 45%)
  background: radial-gradient(transparent 44.5%, $link_bg_color_hover 45%)
  padding-top: 15px

.csstransforms .opened-nav li
  -webkit-transition: all .3s ease .3s
  -moz-transition: all .3s ease .3s
  transition: all .3s ease .3s

/*IE...*/

.no-csstransforms .wrapper1
  overflow: hidden
  margin: 10em auto
  padding: .5em
  text-align: center

.no-csstransforms .wrapper1 ul
  display: inline-block

.no-csstransforms .wrapper1 li
  float: left
  width: 5em
  height: 5em
  background-color: #fff
  text-align: center
  font-size: 1em
  line-height: 5em

.no-csstransforms .wrapper1 li a
  display: block
  width: 100%
  height: 100%
  color: inherit
  text-decoration: none

.no-csstransforms .wrapper1 li a:hover, .no-csstransforms .wrapper1 li a:active, .no-csstransforms .wrapper1 li a:focus
  background-color: #f8f8f8

.no-csstransforms .wrapper1 li.active a
  background-color: #6F325C
  color: #fff

.no-csstransforms .button1
  display: none

/*Responsive*/

@media only screen and (max-width: 620px)
  .no-csstransforms li
    width: 4em
    height: 4em
    line-height: 4em


@media only screen and (max-width: 500px)
  .no-ccstransforms .wrapper1
    padding: .5em

  .no-csstransforms .wrapper1 li
    width: 4em
    height: 4em
    font-size: .9em
    line-height: 4em


@media only screen and (max-width: 480px)
  .csstransforms .wrapper1
    font-size: .68em

  .cn-button
    font-size: 1em

@media only screen and (max-width: 420px)
  .no-csstransforms .wrapper1 li
    width: 100%
    height: 3em
    line-height: 3em


/*Welcome message*/

.txt
  position: absolute
  top: 35px
  font-size: 65px
  font-family: $font-family
  z-index: 11
  padding: 15px 15px 5px
  text-align: center
  text-shadow: 0 0 10px #ccc, 0 0 20px #ccc, 0 0 30px #ccc, 0 0 40px #ccc, 0 0 50px #ccc
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  background-color: #fff
  width: 100%

.com
  font-size: 40px

.dot
  font-size: 90px
  line-height: 65px
  color: #ff3670
  margin-right: 7px

.sub_txt
  position: absolute
  top: 120px
  font-size: 40px
  font-family: $font-family
  z-index: 10
  padding: 15px
  text-align: center
  text-shadow: 0 0 20px #ccc, 0 0 30px #ccc, 0 0 40px #ccc
  background-color: #fff
  width: 100%
  -webkit-transition: all 1.2s
  -moz-transition: all 1.2s
  -ms-transition: all 1.2s
  -o-transition: all 1.2s
  transition: all 1.2s

.activated
  position: absolute
  top: -350px
  opacity: 0.2

.wwd
  font-family: $font-family
  font-size: 16px
  border-radius: 50%
  z-index: 5
  background-color: $btn_bg_color
  color: $btn_txt_color
  position: absolute
  top: 50%
  margin-top: -75px
  margin-left: -75px
  text-align: center
  height: 150px
  width: 150px
  -webkit-transition: all 1s
  -moz-transition: all 1s
  -ms-transition: all 1s
  -o-transition: all 1s
  transition: all 1s
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border: solid 1px $btn_border_color
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: inset 0 -4px 0 $btn_shadow_color, 0 4px 4px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: inset 0 -4px 0 $btn_shadow_color, 0 4px 4px rgba(0, 0, 0, 0.2)
  box-shadow: inset 0 -4px 0 $btn_shadow_color, 0 4px 4px rgba(0, 0, 0, 0.2)


.all
  width: 100%
  height: 100%

.wwd.pt2
  left: 65%
  padding: 29px 10px
  z-index: 7

  a
    color: #000!important
    text-decoration: none!important

.wwd.pt3
  left: 35%
  padding: 29px 10px
  z-index: 6

  a
    color: #000!important
    text-decoration: none!important

.initial
  left: 50%!important

.final
  left: -20%!important

.final2
  left: 120%!important

.ov
  font-family: $font-family
  font-size: 14px
  border-radius: 50%
  background-color: #f5f5f5
  position: absolute
  top: 10px
  left: 50%
  text-align: center
  height: 120px
  width: 120px
  padding: 75px 0 0
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -ms-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s

.ov:hover
  background-color: #e4e4e4
  top: 40px
  padding-top: 45px

.ov1
  margin-left: -320px

.ov2
  margin-left: -190px

.ov3
  margin-left: -60px

.ov4
  margin-left: 70px

.ov5
  margin-left: 200px

.ov_box
  position: absolute
  top: 124px
  left: 50%
  margin-left: -330px
  height: 140px
  width: 660px
  background-color: #fff
  overflow: hidden
  border: 1px solid $btn_border_color
  z-index: 5
  -webkit-transition: all 1.3s
  -moz-transition: all 1.3s
  -ms-transition: all 1.3s
  -o-transition: all 1.3s
  transition: all 1.3s
  opacity: 1

.ov_initial
  top: -300px
  width: 0
  margin-left: 0px
  opacity: 0

.ov_title
  position: absolute
  right: 0
  bottom: -4px
  color: $btn_border_color
  text-transform: uppercase
  font-size: 18px
  font-family: $font-family

/*Location*/

.loc_txt
  text-align: right
  font-size: 16px
  font-family: $font-family
  color: $btn_txt_color

.loc_box
  position: absolute
  bottom: -43px
  right: 10%
  height: 100px
  background-color: #f5f5f5
  border: 1px solid $btn_border_color
  z-index: 5
  padding: 12px

.under
  bottom: -200px

/*logo*/

.logo
  width: 202px

.csstransforms .wrapper1 li a:hover, .csstransforms .wrapper1 li a:active, .csstransforms .wrapper1 li a:focus
  .logo
    width: 262px
