@import "_overall.scss";

.title_contact{
    text-align:center;
    margin-bottom: 30px; 
}

.btn-default{
    width:100%; 
}

.box_call{
    height:300px;
    line-height:300px;
    text-align:center; 
}

.center{
    border:1px solid #fff;
    vertical-align:middle;
    display:inline-block;
    line-height:normal; 
    text-align:center; 
}

.image_call{
    margin-bottom: 30px; 
}

/*
.form-control {
    color: $color5;
    background-color: $color3;
    border:0; 
    border-radius: 0;
    border-bottom:1px solid $color4; 
    box-shadow:none; 
    padding-bottom:0;
}

#InputArea {
    border-bottom:0; 
}
*/

.button{
    text-align:center;
    width:100%;
}
