@import "_overall.scss";

.claim{
    text-align:center; 
    margin-bottom: 20px; 
}

.box_picture{
    background-color:$color3; 
    height:140px; 
    width:140px; 
    border-radius: 50%;
    line-height:140px; 
    text-align:center; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px; 
}

.picture {
    vertical-align:middle;
    display:inline-block;
    line-height:normal; 
    text-align:center;
    color:$color1;
    font-size:50px; 
}

.margin{
    margin-bottom:40px; 
}

.brand{
    text-align:center;  
}

.panel-primary{
    text-align:center; 
    vertical-align:middle;
    height:60px;
    line-height:60px;
}

.panel-primary:hover{
    border-bottom: 4px solid $color4;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.panel-body {
    padding: 0;
}

.brand_image{
    vertical-align:middle;
    display:inline-block;
    line-height:normal; 
    width: 60%;
}

