@import "_overall.scss";

.claim{
    text-align:center; 
}

.box_picture{
    background-color:$color3; 
    height:140px; 
    width:140px; 
    border-radius: 50%;
    line-height:140px; 
    text-align:center; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px; 
}

.picture {
    vertical-align:middle;
    display:inline-block;
    line-height:normal; 
    text-align:center;
    color:$color1;
    font-size:50px; 
}

.margin{
    margin-bottom:40px; 
}

.brands{
    text-align:center;  
}

.brand_image{
    margin-bottom:30px;
    width: 150px;
}

