@import "_overall.scss";

h4{
    font-size:18px; 
    color: $color1; 
}

.claim{
    text-align:center;
    margin-bottom:30px; 
}

.text_claim{
    min-height: 50px; 

}

.panel-default{
    min-height:300px; 
}