@import "_overall.scss";

.introduction{
    margin-bottom:30px; 
}

.claim{
    text-align:center;
    margin-bottom:30px; 
}

.text_claim{
    min-height: 50px; 

}

.panel-primary{
    min-height:200px; 
}