@import "_overall.scss";

.box{
    width:100%;
}

.panel-primary{
    width:60%; 
    margin-left: auto; 
    margin-right:auto; 
    text-align:center;
}

.icon{
    font-size:100px;
    margin-bottom:15px; 
    
}



