@import "_overall.scss";

.people{
    margin-bottom: 40px; 
}

.picture{
    text-align:center; 
}

.department{
    margin-bottom:50px; 
}

.people2{
    text-align:center;
    margin-bottom: 30px; 
}


@media (max-width: 768px){
    h2, h3{
        text-align:center; 
    }

}