<div class="container">
    <div class="footer">
        <div class="col-sm-4">
            <ul class="footer_links">
                <li><a href="">Sitemap</a></li>
                <li><a href="{{ site.baseurl }}/contact-us">Contact us</a></li>
            </ul>
        </div>

        <div class="col-sm-4">
            <ul class="social">
                <li><a href="https://github.com/villafinder" target="_blank"><i class="fa fa-github-square"></i></a></li>
                <li><a href="https://www.linkedin.com/company/3861604"><i class="fa fa-linkedin-square" target="_blank"></i></a></li>
                <li><a href="https://plus.google.com/+VillaBalicom"><i class="fa fa-google-plus-square" target="_blank"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-4 copyright">
            <i class="fa fa-copyright"></i> {{site.title}}
        </div>
    </div>
</div>
