<div class="container">
    <div class="footer">
        <div class="col-md-4">
            <ul class="footer_links">
                <li><a href="">Sitemap</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="social">
                <li><i class="fa fa-github-square"></i></li>
                <li><i class="fa fa-linkedin-square"></i></li>
            </ul>
        </div>

        <div class="col-md-4 copyright">
            <i class="fa fa-copyright"></i> {{site.title}}
        </div>
    </div>
</div>
