<div id="landing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="landing">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h1>We selected over <strong>1000 private villas for rent</strong> in these 4 destinations. Where would you like to go?</h1>
			</div>
			<div class="modal-body">
				<div class="row section">
					<a class="desti_box col-xs-12 col-sm-6" href="https://www.villa-bali.com">
						<img src="https://d2am7l3wurrcf3.cloudfront.net/imagx/4ce05b1c?525">
						<div  class="visible-lg city_description_box">
							<p class="city_description_txt source">The archipelago of Indonesia stretches over 5,000 kilometers from West to East, covering more than 17,000 islands in the southern hemisphere. Out of these thousands of islands, the country's most sought after is Bali, home to world-famous rice terraces, surf breaks, limestone cliffs and jungle gorges, not to mention its unique and vibrant Hindu culture.</p>
						</div>
					</a>

					<a class="desti_box col-xs-12 col-sm-6" href="https://www.srilanka-villa.com">
						<img src="https://d2am7l3wurrcf3.cloudfront.net/imagx/62e1d0c1?525">
						<div  class="visible-lg city_description_box">
							<p class="city_description_txt source">A pear-shaped island in the Indian Ocean, Sri Lanka is a tropical paradise filled with beautiful green landscapes of mountains, lush forests and plantations, and cascading waterfalls. The island also has ancient monuments and historical sites such as the Gal Vihara and Anuradhapura that will definitely capture your attention. A beautiful horizon awaits when you visit the warm and sunny island.</p>
						</div>
					</a>

					<a class="desti_box col-xs-12 col-sm-6" href="https://www.villa-phuket.com">
					<img src="https://d2am7l3wurrcf3.cloudfront.net/imagx/67bc92d8?525">
						<div  class="visible-lg city_description_box">
							<p class="city_description_txt source">Part of the land of smiles, Phuket is Thailand’s largest island and a paradise to many travelers. Sun-soakers, snorkelers and scuba divers love the sandy white beaches and its beautiful corals underneath. The rest of Phuket are mostly covered in forest and rubber and palm oil plantations – lots of greenery that will soothe your tired eyes. Although a fast-growing tourist industry, Phuket has a rather traditional and slower pace of life that tourists enjoy taking a break in from their hectic lives.</p>
						</div>
					</a>

					<a class="desti_box col-xs-12 col-sm-6" href="https://www.samui-villa.com">
						<img src="https://d2am7l3wurrcf3.cloudfront.net/imagx/f001f0f6?525">
						<div  class="visible-lg city_description_box">
							<p class="city_description_txt source">Koh Samui is a beautiful island that boasts a variety of stunning and charming views that will blow your mind away. From the lush tropical greenery to the white sandy beaches to the clear blue sea, visitors are bound to be back for more. Popular destinations on the island include Na Muang and Hin Lad Waterfalls, Ang Thong National Marine Park and Koh Samui Tiger Zoo.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="gocorporate" data-dismiss="modal">
				Or <a href="http://www.villa-finder.com">go to our corporate website</a>
			</div>
		</div><!-- /.modal-content -->
	</div>
</div><!-- /.modal-dialog -->
