---
layout: page
---

<div class="row brand_header">
    <div class="col-xs-6">
        <img src="{{ base.url }}/assets/images/{{ page.logo }}" alt="{{ page.alt }}" width="200px">
    </div>

    <div class="col-xs-6 go">
        <button type="button" class="btn btn-default"><a class="link" href="{{ page.link }}" target="_blank">Go to the site</a></button>
    </div>
</div>


<div class="figures row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="fa fa-{{ page.icon1}} icons"></i> {{ page.key1 }}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="fa fa-{{ page.icon2}} icons"></i> {{ page.key2 }}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="fa fa-{{ page.icon3}} icons"></i> {{ page.key3 }}
            </div>
        </div>
    </div>
</div>

<div class="description">
    {{content}}
</div>

<div class="computer">
    <div class="screen">
        <a href="{{ page.link }}" target="_blank">
            <img src="{{base.url}}/assets/images/screen_shot{{ page.screen }}.jpg" alt="{{ page.alt }} screen-shot" class='screen_image'>  
        </a>
    </div>
    <div class="on"><i class="fa fa-circle"></i></div> 
    <div class="base hidden-xs"></div>
    <div class="footer-top hidden-xs"></div>
    <div class="footer-bottom hidden-xs"></div>
</div>









